<div class="d-flex justify-content-center align-items-center">
  <h1>New Anchor</h1>
  <div class="ml-auto">
    <%= link_to 'Back', anchors_path, class: 'btn btn-secondary' %>
  </div>
</div>
<%= render 'form', anchor: @anchor %>
