<div class="d-flex justify-content-center align-items-center align-content-center vh-100 flex-wrap">
  <%= image_tag 'port.png', class: 'mr-2' %><h1>Where are ports</h1>
  <span class="w-100"></span>
  <%= link_to 'Enter', anchor_groups_path, class: "h1 mt-5" %>
</div>
